.addusers{
    border: 1px solid rgba(0, 0, 0, 0.318);
    width: 600px;
    margin: 100px auto;
    background-image: url("https://thumbs.dreamstime.com/b/library-ancient-books-stragov-monastery-23297799.jpg");
    background-repeat: no-repeat;
    box-shadow: 12px 10px 13px black;
    border-radius: 15px;
}



